body{
    background-color: tomato;
    
}
.main{
    height: 400px;
    width: 300px;
    background-color: lightcoral;
    border: 2px solid silver;
    border-radius: 5%;
    margin:  0 auto;
}
.big-btn{
    width: 90%;
    margin-top: 20px;
    height: 50px;
   margin-left: 11px;
   border-radius: 10%;
   border: 2px solid black ;
   font-size: 20px;
}
.med-btn{
    width: 90%;
    margin-top: 20px;
    background-color: crimson;
    color: white;
    height: 30px;
    border-radius: 30px;
  
    margin-left: 16px;
    font-size: 20px;
}
.med-btn:hover{
    background-color: firebrick;
}
.btn{
    width: 20%;
    margin-top: 20px;
    border-radius: 60px;
    margin-left: 10px;
    height: 40px;
    background-color: crimson;
    color: white;
    border: 2px solid silver;
    font-size: 20px;
    
}
.btn:hover{
    background-color: firebrick;
}
.btn1{
    width: 45%;
    margin-left: 10px;
    background-color: crimson;
    color: white;
    border: 2px solid silver;
    border-radius: 50px;
    height: 40px;
    font-size: 20px;
}
.btn1:hover{
    background-color: firebrick;
}
h1{
    font-size: 40px;
    margin-left: 40%;
    font-family: sans-serif;
    text-decoration: underline darksalmon;
}